* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-family: "Roboto Mono", monospace;
   font-size: 15px;
}

body {
   background-color: rgb(255, 255, 255);
   color: rgb(120, 120, 70);
   padding: 20px;
}

h1 {
   font-size: 2.5rem;
   margin-bottom: 20px;
   color: rgb(158, 158, 92);
}